body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    color: white;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ul {
    list-style-type: none;
}

.bannerContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2937;
    color: white;
    padding: 75px 0px 125px 0px;
}

.bannerInfo {
    width: 400px;
    min-width: 300px;
}

.bannerTitle {
    font-size: 55px;
    margin: 0px;
}

.bannerText {
    text-align:left;
    opacity: 0.6;
    margin: 15px 0px;
}

.bannerButton {
    background-color: rgb(0, 132, 255);
    border-radius: 7px;
    font-size: 18px;
    padding: 10px 35px;
    color: white;
    font-weight: 500;
    border: none;
    margin-top: 20px;
}

.bannerImage {
    max-width: 500px;
    height: auto;
}

.cardBanner {
    margin-bottom: 100px;
}

.cardTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;
}

.cardHeader {
    font-weight: 1000;
    font-size: 35px;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    
}

.cardTitle {
    font-weight: bold;
}

.cardText,
.cardTitle {
    padding: 2px;
    margin: 0px;
}

.cardImage {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card {
    gap: 20px;
}

.quoteBanner {
    background-color: #e5e7eb;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quoteContainer {
    width: 65%;
    font-family: 'Marck Script', cursive;
}

.authorContainer {
    display: flex;
    justify-content: flex-end;
    width: 65%;

}

.actionBanner {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.actionContainer {
    background-color: rgb(0, 132, 255);
    width: 65%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 10px;
}

.actionText {
    margin: 0px;
    padding: 0px;
}

.actionSubText {
    opacity: 0.8;
}

.actionButton {
    background-color: rgb(0, 132, 255);
    border-color: white;
    border-radius: 10px;
    padding: 8px 30px;
    font-size: 18px;
    color: white;
}

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}